*.iml
*.idea
*.pyc
target/
data/
log/
logs/
jar/
tmp/

node_modules/
/dist/
/test/unit/coverage/
/test/e2e/reports/
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
npm-debug.log
yarn-debug.log
yarn-error.log
selenium-debug.log
