<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue_hello</title>
    <script src="../js/common/vue.js"></script>

</head>
<body>
    <div id="todo-list-example">
        <template v-for="(user,index) in users">
            <div v-for="(key,value) in user">{{index+1}}: {{key}} -> {{value}}</div>
        </template>
    </div>
    <script>
        new Vue({
            el: '#todo-list-example',
            data: {
                users:[
                    {name:'zhangsan','age':21},
                    {name:'lisi',age:22},
                    {name:'wangwu',age:23}
                ]
            }
        })
    </script>
</body>
</html>